# Project exclude paths
/api-gateway/target/
/auth-service/target/
/chat-service/target/
/common/target/
/dating-telegram/target/
/discovery-server/target/
/social-medial/target/
keycloak-service/target/vn-dating-plugin.jar
keycloak-service/target/vn-dating-plugin.jar.original
keycloak-service/target/classes/META-INF/services/org.keycloak.events.EventListenerProviderFactory
keycloak-service/target/classes/vn/dating/keycloak/event/SampleEventListenerProvider.class
keycloak-service/target/classes/vn/dating/keycloak/event/SampleEventListenerProviderFactory.class
keycloak-service/target/maven-archiver/pom.properties
keycloak-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
keycloak-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
social-media/target/classes/application.properties
social-media/target/classes/vn/dating/app/social/SocialApplication.class
social-media/target/classes/vn/dating/app/social/configs/KeycloakLogoutHandler.class
social-media/target/classes/vn/dating/app/social/configs/SecurityConfig.class
social-media/target/classes/vn/dating/app/social/controller/AuthController.class
social-media/target/classes/vn/dating/app/social/controller/SocialController.class
social-media/target/classes/vn/dating/app/social/exceptions/AppException.class
social-media/target/classes/vn/dating/app/social/exceptions/BadRequestException.class
social-media/target/classes/vn/dating/app/social/exceptions/ResourceNotFoundException.class
social-media/target/classes/vn/dating/app/social/models/Comment$CommentBuilder.class
social-media/target/classes/vn/dating/app/social/models/Comment.class
social-media/target/classes/vn/dating/app/social/models/Follower$FollowerBuilder.class
social-media/target/classes/vn/dating/app/social/models/Follower.class
social-media/target/classes/vn/dating/app/social/models/Like$LikeBuilder.class
social-media/target/classes/vn/dating/app/social/models/Like.class
social-media/target/classes/vn/dating/app/social/models/Media.class
social-media/target/classes/vn/dating/app/social/models/Notify$NotifyBuilder.class
social-media/target/classes/vn/dating/app/social/models/Notify.class
social-media/target/classes/vn/dating/app/social/models/NotifyActor$NotifyActorBuilder.class
social-media/target/classes/vn/dating/app/social/models/NotifyActor.class
social-media/target/classes/vn/dating/app/social/models/NotifyEntity$NotifyEntityBuilder.class
social-media/target/classes/vn/dating/app/social/models/NotifyEntity.class
social-media/target/classes/vn/dating/app/social/models/Post.class
social-media/target/classes/vn/dating/app/social/models/Profile.class
social-media/target/classes/vn/dating/app/social/models/Reply.class
social-media/target/classes/vn/dating/app/social/models/User.class
social-media/target/classes/vn/dating/app/social/models/eenum/LikeModeType.class
social-media/target/classes/vn/dating/app/social/models/eenum/NotificationType.class
social-media/target/classes/vn/dating/app/social/models/eenum/PostStatus.class
social-media/target/classes/vn/dating/app/social/models/eenum/ReactType.class
social-media/target/classes/vn/dating/app/social/repositories/CommentRepository.class
social-media/target/classes/vn/dating/app/social/repositories/FollowerRepository.class
social-media/target/classes/vn/dating/app/social/repositories/LikeRepository.class
social-media/target/classes/vn/dating/app/social/repositories/MedialRepository.class
social-media/target/classes/vn/dating/app/social/repositories/NotifyActorRepository.class
social-media/target/classes/vn/dating/app/social/repositories/NotifyEntityRepository.class
social-media/target/classes/vn/dating/app/social/repositories/NotifyRepository.class
social-media/target/classes/vn/dating/app/social/repositories/PostRepository.class
social-media/target/classes/vn/dating/app/social/repositories/ReplyRepository.class
social-media/target/classes/vn/dating/app/social/repositories/UserRepository.class
social-media/target/classes/vn/dating/app/social/services/AuthService.class
social-media/target/classes/vn/dating/app/social/utils/ApiResponse.class
social-media/target/classes/vn/dating/app/social/utils/LoggedIn.class
social-media/target/classes/vn/dating/app/social/utils/MultipartFileUploadUtils.class
social-media/target/classes/vn/dating/app/social/utils/NotificationEmail.class
social-media/target/classes/vn/dating/app/social/utils/PagedResponse.class
social-media/target/classes/vn/dating/app/social/utils/TimeHelper.class
